/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */
.homeMain {
  position: relative;
  height: 509px;
  color: #fff;
}
.homeContent {
  position: absolute;
  top: 0;
}
